<main>
	<div class="container">
		<h1 class="page-title"><i class="mIcon">&#xf159;</i>Messages</h1>
		<div class="messages_centre">
			<div class="contacts_list">
				<div class="search">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<div class="contacts">
					<ul>
						<li class="unseen">
							<a href="#">
								<div class="image">
									<figure><img src="images/user.png" alt=""></figure>
								</div>
								<figcaption>
									<h4>Ahmed Shaarawy</h4>
									<p>Hello There</p>
								</figcaption>
								<span>5 Min</span>
							</a>
						</li>
						<li class="active">
							<a href="#">
								<div class="image">
									<figure><img src="images/user.png" alt=""></figure>
								</div>
								<figcaption>
									<h4>Ahmed Shaarawy</h4>
									<p>Hello There</p>
								</figcaption>
								<span>5 Min</span>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="image">
									<figure><img src="images/user.png" alt=""></figure>
								</div>
								<figcaption>
									<h4>Ahmed Shaarawy</h4>
									<p>Hello There</p>
								</figcaption>
								<span>5 Min</span>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="image">
									<figure><img src="images/user.png" alt=""></figure>
								</div>
								<figcaption>
									<h4>Ahmed Shaarawy</h4>
									<p>Hello There</p>
								</figcaption>
								<span>5 Min</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="chat_body">
				<div class="chat_head">
					<button type="button" class="contacts_list_Toggle"><i class="mIcon"></i></button>
					<h4><i class="mIcon">&#xf205;</i>Ahmed Shaarawy</h4>
				</div>
				<div class="body">
					<div class="user current">
						<div class="left">
							<figure><img src="images/user.png" alt=""></figure>
							<span>12:00</span>
						</div>
						<div class="right">
							<p class="sent_message">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, reprehenderit assumenda quisquam possimus quas veniam quis
								dolore fuga vero necessitatibus nulla et sed tempore ipsum, enim a cupiditate laboriosam culpa.
							</p>
						</div>
					</div>
					<div class="user">
						<div class="left">
							<figure><img src="images/placeholder.png" alt=""></figure>
							<span>12:00</span>
						</div>
						<div class="right">
							<p class="sent_message">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit sapiente aliquam hic ducimus dolore aspernatur, accusamus
								et odio dicta soluta illum cumque officia provident fugiat optio maxime tempora repellendus facere!
							</p>
						</div>
					</div>
					<div class="user current">
						<div class="left">
							<figure><img src="images/user.png" alt=""></figure>
							<span>12:00</span>
						</div>
						<div class="right">
							<p class="sent_message">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores commodi alias dignissimos, nihil, voluptatem facere dicta
								illum dolor pariatur architecto amet debitis nam, sint eos aut tempore nostrum rem laboriosam.
							</p>
						</div>
					</div>
					<div class="user">
						<div class="left">
							<figure><img src="images/placeholder.png" alt=""></figure>
							<span>12:00</span>
						</div>
						<div class="right">
							<p class="sent_message">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores commodi alias dignissimos, nihil, voluptatem facere dicta
								illum dolor pariatur architecto amet debitis nam, sint eos aut tempore nostrum rem laboriosam.
							</p>
						</div>
					</div>
					<div class="user current">
						<div class="left">
							<figure><img src="images/user.png" alt=""></figure>
							<span>12:00</span>
						</div>
						<div class="right">
							<p class="sent_message">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores commodi alias dignissimos, nihil, voluptatem facere dicta
								illum dolor pariatur architecto amet debitis nam, sint eos aut tempore nostrum rem laboriosam.
							</p>
						</div>
					</div>
					<div class="user">
						<div class="left">
							<figure><img src="images/placeholder.png" alt=""></figure>
							<span>12:00</span>
						</div>
						<div class="right">
							<p class="sent_message">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores commodi alias dignissimos, nihil, voluptatem facere dicta
								illum dolor pariatur architecto amet debitis nam, sint eos aut tempore nostrum rem laboriosam.
							</p>
						</div>
					</div>
					<div class="user">
						<div class="left">
							<figure><img src="images/placeholder.png" alt=""></figure>
							<span>12:00</span>
						</div>
						<div class="right">
							<p class="sent_message">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores commodi alias dignissimos, nihil, voluptatem facere dicta
								illum dolor pariatur architecto amet debitis nam, sint eos aut tempore nostrum rem laboriosam.
							</p>
						</div>
					</div>
					<div class="user">
						<div class="left">
							<figure><img src="images/placeholder.png" alt=""></figure>
							<span>12:00</span>
						</div>
						<div class="right">
							<p class="sent_message">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores commodi alias dignissimos, nihil, voluptatem facere dicta
								illum dolor pariatur architecto amet debitis nam, sint eos aut tempore nostrum rem laboriosam.
							</p>
						</div>
					</div>
				</div>
				<form action="" class="type_message">
					<input type="text" placeholder="Type Your Message">
					<button type="submit" class="btn btn-default"><i class="mIcon">&#xf194;</i></button>
				</form>
			</div>
		</div>
	</div>
</main>