<main>
	<div class="container">
		<h1 class="page-title"><i class="mIcon">&#xf10c;</i>My Offers</h1>
		<div class="table-responsive">
			<table class="table table-bordered wraped_table table_colored no_margin">
				<thead>
					<tr>
						<th>Name</th>
						<th>Quantity</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<h4>Basic Bicarbonate</h4>
							<p class="grey">Expiry Date
								<time>2017/11/16</time>
							</p>
						</td>
						<td><b>Quantity: </b>2</td>
						<td class="actions">
							<button type="button" class="btn btn-icon btn-info"><i class="mIcon">&#xf158;</i></button>
							<button type="button" class="btn btn-icon btn-danger"><i class="mIcon">&#xf154;</i></button>
							<button type="button" class="btn btn-icon btn-basic"><i class="mIcon">&#xf119;</i></button>
						</td>
					</tr>
					<tr>
						<td>
							<h4>Basic Bicarbonate</h4>
							<p class="grey">Expiry Date
								<time>2017/11/16</time>
							</p>
						</td>
						<td><b>Quantity: </b>2</td>
						<td class="actions">
							<button type="button" class="btn btn-icon btn-info"><i class="mIcon">&#xf158;</i></button>
							<button type="button" class="btn btn-icon btn-danger"><i class="mIcon">&#xf154;</i></button>
							<button type="button" class="btn btn-icon btn-basic"><i class="mIcon">&#xf119;</i></button>
						</td>
					</tr>
					<tr>
						<td>
							<h4>Basic Bicarbonate</h4>
							<p class="grey">Expiry Date
								<time>2017/11/16</time>
							</p>
						</td>
						<td><b>Quantity: </b>2</td>
						<td class="actions">
							<button type="button" class="btn btn-icon btn-info"><i class="mIcon">&#xf158;</i></button>
							<button type="button" class="btn btn-icon btn-danger"><i class="mIcon">&#xf154;</i></button>
							<button type="button" class="btn btn-icon btn-basic"><i class="mIcon">&#xf119;</i></button>
						</td>
					</tr>
					<tr>
						<td>
							<h4>Basic Bicarbonate</h4>
							<p class="grey">Expiry Date
								<time>2017/11/16</time>
							</p>
						</td>
						<td><b>Quantity: </b>2</td>
						<td class="actions">
							<button type="button" class="btn btn-icon btn-info"><i class="mIcon">&#xf158;</i></button>
							<button type="button" class="btn btn-icon btn-danger"><i class="mIcon">&#xf154;</i></button>
							<button type="button" class="btn btn-icon btn-basic"><i class="mIcon">&#xf119;</i></button>
						</td>
					</tr>
					<tr>
						<td>
							<h4>Basic Bicarbonate</h4>
							<p class="grey">Expiry Date
								<time>2017/11/16</time>
							</p>
						</td>
						<td><b>Quantity: </b>2</td>
						<td class="actions">
							<button type="button" class="btn btn-icon btn-info"><i class="mIcon">&#xf158;</i></button>
							<button type="button" class="btn btn-icon btn-danger"><i class="mIcon">&#xf154;</i></button>
							<button type="button" class="btn btn-icon btn-basic"><i class="mIcon">&#xf119;</i></button>
						</td>
					</tr>
					<tr>
						<td>
							<h4>Basic Bicarbonate</h4>
							<p class="grey">Expiry Date
								<time>2017/11/16</time>
							</p>
						</td>
						<td><b>Quantity: </b>2</td>
						<td class="actions">
							<button type="button" class="btn btn-icon btn-info"><i class="mIcon">&#xf158;</i></button>
							<button type="button" class="btn btn-icon btn-danger"><i class="mIcon">&#xf154;</i></button>
							<button type="button" class="btn btn-icon btn-basic"><i class="mIcon">&#xf119;</i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>