<main>
	<h1 class="page-title"><i class="mIcon">&#xf158;</i>New Offer</h1>
	<form>
		<fieldset>
			<legend>Step 1: Enter Medicine Details</legend>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label>Expiry Date</label>
						<input type="text" class="form-control datepicker">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label>Quantity</label>
						<input type="number" class="form-control">
					</div>
				</div>
		</fieldset>
		<fieldset>
			<legend>Step 2: Specify Pickup Location</legend>
			<div class="row same_height">
				<div class="col-sm-6 col-xs-12">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label>Address</label>
								<div class="row">
									<div class="col-sm-12 search_input">
										<input type="text" class="form-control has_autocomplete" placeholder="Search for address">
										<ul class="autocomplete">
											<li><a href="#">Option 1</a></li>
											<li><a href="#">Option 2</a></li>
											<li><a href="#">Option 3</a></li>
											<li><a href="#">Option 4</a></li>
											<li><a href="#">Option 5</a></li>
											<li><a href="#">Option 6</a></li>
											<li><a href="#">Option 7</a></li>
											<li><a href="#">Option 8</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label>Telephone</label>
								<input type="tel" class="form-control">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label>Notes</label>
								<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="checkbox-inline">
									<input type="checkbox" id="favourite_locations" value="">
									<label for="favourite_locations">Add to my favourite locations</label>
								</div>
								<button type="button" class="btn btn-warning pull-right" data-toggle="modal" data-target="#previous_locations">Use a previous address</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13814.426029659946!2d31.374281644821167!3d30.048144858335455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbab370d578f01eb0!2sEl+Waha!5e0!3m2!1sen!2seg!4v1507663934319"
									width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</fieldset>
		<button type="button" class="btn btn-success">Save</button>
		<button type="button" class="btn btn-basic">Cancel</button>
	</form>
	<!-- Modal -->
	<div id="previous_locations" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Previous Locations</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="radio">
							<input type="radio" id="radio_1" name="previous_locations" value="1">
							<label for="radio_1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
						</div>
					</div>
					<div class="form-group">
						<div class="radio">
							<input type="radio" id="radio_2" name="previous_locations" value="2">
							<label for="radio_2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate officia molestias ex ratione odit numquam omnis, ea earum. Repellendus consequatur, reiciendis commodi autem voluptatibus quam rem architecto perspiciatis pariatur.</label>
						</div>
					</div>
					<div class="form-group">
						<div class="radio">
							<input type="radio" id="radio_3" name="previous_locations" value="3">
							<label for="radio_3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
						</div>
					</div>
					<div class="form-group">
						<div class="radio">
							<input type="radio" id="radio_4" name="previous_locations" value="4">
							<label for="radio_4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur corporis quae doloremque officia quaerat consequatur et necessitatibus dolorum, dignissimos voluptatibus sint voluptates autem perferendis magnam, nulla odio laudantium! Accusantium, quidem.</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-basic" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Use</button>
				</div>
			</div>
		</div>
	</div>
</main>