<main>
	<h1 class="page-title"><i class="mIcon">&#xf1f8;</i>Basic Bicarbonate</h1>
	<dl>
		<dt>Expiry Date</dt>
		<dd>2017/11/16</dd>
		<dt>Quantity</dt>
		<dd>10</dd>
		<dt>Name</dt>
		<dd>Ahmed</dd>
		<dt>Address</dt>
		<dd>106 Omar Ibn El-Khattab, Nasr City</dd>
		<dt>Telephone</dt>
		<dd>00201000609719</dd>
		<dt>Notes</dt>
		<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut in facilis nam consectetur, voluptate esse exercitationem
			laudantium earum perferendis, eos deleniti eum! Nihil expedita architecto illum, id, reiciendis suscipit tenetur.</dd>
	</dl>
	<div>
		<button type="button" class="btn has_icon btn-info"><i class="mIcon"></i>Edit</button>
		<button type="button" class="btn has_icon btn-danger"><i class="mIcon"></i> Delete</button>
		<button type="button" class="btn has_icon btn-basic"><i class="mIcon"></i>Taken</button>
	</div>
</main>